#Commment
tempFile.txt
tempFile2.txt
tempFile3.txt
.DS_Store
*.zip
*.gz
.idea
log/*.log
log/*.log.[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mp4

#question: would log/archive/access.log would be ignored?             #NO